<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script src="/static/js/jquery-3.4.1.min.js"></script>
<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/bootstrap/css/bootstrap-theme.min.css">
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<body>
<div th:fragment="nav">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li th:if="${pagination.showFirstPage}">
                <a href="/static?page=1" aria-label="首页">
                    <span aria-hidden="true">&lt;&lt;</span>
                </a>
            </li>
            <li th:if="${pagination.showPrevious}">
                <a th:href="@{/(page=${pagination.page -1})}" aria-label="上一页">
                    <span aria-hidden="true">&lt;</span>
                </a>
            </li>

            <li th:class="${pagination.page==page} ? 'active' " th:each="page :${pagination.pages}">
                <a th:href="@{/(page=${page})}"
                   th:text="${page}"></a></li>
            <li th:if="${pagination.showNext}">
                <a th:href="@{/(page=${pagination.page +1})}" aria-label="下一页">
                    <span aria-hidden="true">&gt;</span>
                </a>
            </li>
            <li th:if="${pagination.showEndPage}" th:href="@{/(page=${pagination.totalPage})}">
                <a th:href="@{/(page=${pagination.totalPage})}" aria-label="尾页">
                    <span aria-hidden="true">&gt;&gt;</span>
                </a>
            </li>
        </ul>
    </nav>

</div>

</body>

</html>