<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>底部信息栏</title>
<link rel="stylesheet" href="/layui/css/layui.css">
<link rel="stylesheet" href="/css/global.css">
<script src="/layui/layui.js"></script>
<script src="/js/jquery-3.4.1.min.js"></script>
<body>
<div th:fragment="nav">
    <nav>
        <div class="footer">
            <p><a href="#">新奇论坛</a> 2020.5 &copy; <a href="http://LCQJOYCE.CN">LCQJOYCE.CN</a>
                <a target="_blank" href="http://www.beian.miit.gov.cn/">
                    <br>工业和信息化部 版权所有
                    <br>苏ICP备18056604号
                </a>
            </p>
        </div>
    </nav>
</div>

</body>

</html>