<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <script src="/js/jquery-3.4.1.min.js"></script>

    <title>用户中心</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="fly,layui,前端社区">
    <meta name="description" content="Fly社区是模块化前端UI框架Layui的官网社区，致力于为web开发提供强劲动力">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/css/global.css">
    <script src="/layui/layui.js"></script>
</head>
<body>

<div th:insert="~{navigation :: nav}"></div>


<div class="main fly-user-main layui-clear">
    <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="user">
        <li class="layui-nav-item"><a th:href="@{'/user/'+${session.user.getUserId()}}"> <i
                class="layui-icon">&#xe609;</i> 我的主页 </a></li>
        <li class="layui-nav-item layui-this"><a href="/profile/myCenter"> <i
                class="layui-icon ">&#xe612;</i> 用户中心 </a></li>
        <li class="layui-nav-item "><a href="/profile/mySet"> <i
                class="layui-icon">&#xe620;</i> 基本设置 </a></li>
        <li class="layui-nav-item"><a href="/profile/myMessage"> <i
                class="layui-icon">&#xe611;</i> 我的消息 </a></li>
        <li class="layui-nav-item  "><a href="/profile/myRecharge"> <i
                class="layui-icon">&#xe61a;</i> 账户充值/会员 </a></li>
        <li class="layui-nav-item "  th:if="${session.userDTO.getRole().getRoleId() eq 3}"><a href="/profile/report" > <i
                class="layui-icon">&#xe61a;</i> 审核举报 </a></li>
    </ul>


    <div class="site-tree-mobile layui-hide">
        <i class="layui-icon">&#xe602;</i>
    </div>
    <div class="site-mobile-shade"></div>

    <div class="fly-panel fly-panel-user" pad20>

        <div class="layui-tab layui-tab-brief" lay-filter="user">
            <ul class="layui-tab-title" id="LAY_mine">
                <li data-type="mine-jie" lay-id="index" class="layui-this">我发的帖<span ></span></li>
                <li data-type="collection" data-url="/collection/find/" lay-id="collection">我收藏的帖<span></span></li>
            </ul>
            <div class="layui-tab-content" style="padding: 20px 0;">
                <div class="layui-tab-item layui-show">
                    <ul class="mine-view jie-row" th:if="${questionPages.totalPage ne -1}">
                        <li  th:each="question:${questionPages.getData()}">
                            <a class="jie-title" th:href="@{'/question/'+${question.questionId}}" target="_blank"  th:text="${question.questionTitle}">
                                </a>
                            <i>  [(${#dates.format(question.questionGmtcreate,'yyyy-MM-dd HH:mm:ss')})]</i>
                            <a class="mine-edit"  th:href="@{'/publish/'+${question.questionId}}" th:if="${question.getQuestionStatus() eq 0 }"></a>
                            <em> [(${question.questionViewcount})]阅/[(${question.questionCommentcount})]答</em>
                        </li>
                    </ul>
                    <div id="LAY_page"></div>
                </div>

                <div class="layui-tab-item">
                    <ul class="mine-view jie-row" th:if="${collects ne null}">
                        <li th:each="collect:${collects}">
                            <a class="jie-title" th:href="@{'/question/'+${collect.question.questionId}}"
                               th:text="${collect.question.getQuestionTitle()}" ></a>
                            <i>收藏于<span th:text="${#dates.format(collect.getCollectGmtcreatetime(),'yyyy-MM-dd HH:mm:ss')}"></span></i></li>
                    </ul>
                    <div id="LAY_page1"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="footer">
    <p><a href="#">新奇论坛</a> 2017 &copy; <a href="#/">njwangbo.com</a></p>
    <p>

        <a href="#" target="_blank">新奇论坛</a>

    </p>
</div>

<script>
    layui.use('element', function () {
        var element = layui.element();
    });
</script>
</body>
</html>