<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <title>消息中心</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="fly,layui,前端社区">
    <meta name="description" content="Fly社区是模块化前端UI框架Layui的官网社区，致力于为web开发提供强劲动力">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/css/global.css">
    <script src="/layui/layui.js"></script>
</head>
<body>

<div th:insert="~{navigation :: nav}"></div>

<div class="main fly-user-main layui-clear">
    <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="user">
        <li class="layui-nav-item"><a th:href="@{'/user/'+${session.user.getUserId()}}"> <i
                class="layui-icon">&#xe609;</i> 我的主页 </a></li>
        <li class="layui-nav-item "><a href="/profile/myCenter"> <i
                class="layui-icon">&#xe612;</i> 用户中心 </a></li>
        <li class="layui-nav-item "><a href="/profile/mySet"> <i
                class="layui-icon">&#xe620;</i> 基本设置 </a></li>
        <li class="layui-nav-item layui-this"><a href="/profile/myMessage"> <i
                class="layui-icon">&#xe611;</i> 我的消息 </a></li>
        <li class="layui-nav-item  "><a href="/profile/myRecharge"> <i
                class="layui-icon">&#xe61a;</i> 账户充值/会员 </a></li>
        <li class="layui-nav-item "th:if="${session.userDTO.getRole().getRoleId() eq 3}"><a href="/profile/report"> <i
                class="layui-icon">&#xe61a;</i> 审核举报 </a></li>
    </ul>

    <div class="site-tree-mobile layui-hide">
        <i class="layui-icon">&#xe602;</i>
    </div>
    <div class="site-mobile-shade"></div>

    <div class="fly-panel fly-panel-user" pad20>
        <div class="layui-tab layui-tab-brief" lay-filter="user" id="LAY_msg" style="margin-top: 15px;">
            <button class="layui-btn layui-btn-danger" id="LAY_delallmsg">清空全部消息</button>
            <div id="LAY_minemsg" style="margin-top: 10px;">
                <!--<div class="fly-none">您暂时没有最新消息</div>-->
                <ul class="mine-msg">



                    <li  th:each="notification : ${notificationPages.data}">
                        <blockquote class="layui-elem-quote">
                            <a th:href="@{'/user/'+${notification.notificationNotifier}}" target="_blank"><cite>Absolutely</cite></a> <span th:text="${notification.notificationTypeName}"></span>
                            <a target="_blank"  th:href="@{'/notification/'+ ${notification.notificationId}}"  ><cite> [(${notification.notificationOutertitle})]</cite></a>
                        </blockquote>
                        <p><span> [(${#dates.format(notification.notificationGmtcreate,'yyyy-MM-dd HH:mm:ss')})]</span>
                            <a th:href="@{'/notification/delete/'+ ${notification.notificationId}}"   th:if="${notification.getNotificationStatus() eq 1}"    class="layui-btn layui-btn-small layui-btn-danger fly-delete">删除</a>
                        </p>
                    </li>


                </ul>

                <div style="text-align: center;">

                    <div class="layui-box layui-laypage layui-laypage-default"  th:if="${notificationPages.getData() ne null}">
                        <div >
                            <div style="float: left"> <a th:href="@{/profile/myMessage/(page=${notificationPages.page -1})}"  th:hidden="${notificationPages.showPrevious}"
                                                         class="layui-laypage-prev">上一页</a>
                            </div>
                            <div style="float: left">    <a href="/profile/myMessage/?page=1" th:hidden="${notificationPages.showFirstPage}" class="laypage_first" title="首页">首页</a></div>


                            <div th:each="page :${notificationPages.pages}" style="float: left">

                                <a th:href="@{/profile/myMessage/(page=${page})}" th:if="${notificationPages.page!=page}" th:text="${page}"></a>

                                <span th:if="${notificationPages.page==page}" class="layui-laypage-curr">
                            <em class="layui-laypage-em" th:href="@{/profile/myMessage/(page=${page})}" th:text="${page}"></em>
                          </span>

                            </div>


                            <div style="float: left"> <a th:href="@{/profile/myMessage/(page=${notificationPages.totalPage})}" th:hidden="${notificationPages.showEndPage}"
                                                         class="layui-laypage-last" title="尾页">末页</a></div>
                            <div style="float: left">        <a th:hidden="${notificationPages.showNext}" th:href="@{/profile/myMessage/(page=${notificationPages.page +1})}"
                                                                class="layui-laypage-next">下一页</a></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>


<div th:insert="~{footer :: nav}"></div>

<script>
    layui.use('element', function () {
        var element = layui.element();
    });
</script>

</body>
</html>
