<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>发表问题</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="fly,layui,前端社区">
    <meta name="description" content="Fly社区是模块化前端UI框架Layui的官网社区，致力于为web开发提供强劲动力">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/editormd.css">
    <script src="/js/editormd.min.js" type="application/javascript"></script>
    <script src="/layui/layui.js"></script>
</head>
<body>

<div th:insert="~{navigation :: nav}"></div>

<div class="main layui-clear">
    <div class="fly-panel" pad20>
        <h2 class="page-title">发表问题</h2>

        <!-- <div class="fly-none">并无权限</div> -->

        <div class="layui-form layui-form-pane">
            <form action="/publish" method="post">

                <div class="layui-form-item">
                    <label class="layui-form-label">标题</label>
                    <div class="layui-input-block">
                        <input type="text" id="L_title" name="title" lay-verify="required" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <div class="layui-input-block">
                        <div class="editor" id="question-editor">
                            <textarea name="content" style="display: none;"></textarea>
                        </div>
                    </div>

                    <label class="layui-form-label" style="top: -2px;">描述</label>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">所在类别</label>
                        <div class="layui-input-block">
                            <select name="class">
                                <option value="0" selected>请选择</option>
                                <option th:each="selectCategory,loopStatus:${tags}"
                                        th:value="${selectCategory.getCategoryName()}"
                                        th:text="${selectCategory.getCategoryName()}"
                                        th:selected="${loopStatus.first}"
                                ></option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">悬赏飞吻</label>
                        <div class="layui-input-block">
                            <select name="experience">
                                <option selected>5</option>
                                <option>20</option>
                                <option>50</option>
                                <option>100</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">人类验证</label>
                    <div class="layui-input-inline">
                        <input type="text" id="code" name="code" required lay-verify="required" placeholder="请回答后面的问题"
                               autocomplete="off" class="layui-input">
                    </div>
                    <img src="/publish/checkCode.jpg" alt="一分钟内有效" height="37.99px">
                </div>
                <div class="layui-form-item">
                    <input class="layui-btn" lay-submit lay-filter="publish" value="立即发布"/>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:insert="~{footer :: nav}"></div>


<script type="text/javascript">
    $(function () {
        var editor = editormd("question-editor", {
            width: "100%",
            height: 400,
            path: "/js/lib/",
            watch:false,
            placeholder:"支持MarkDown,对于问题内容请尽情发挥吧",
            emoji:true
        });
    });
</script>

<script>
    layui.use(['jquery', 'form', 'layer'], function () {
        var $ = layui.jquery;
        var form = layui.form();//表单验证
        var layer = layui.layer;

        form.on('submit(publish)', function (data) {
            //用ajax时需要注意你的url接口、采用哪一种方式type获取，它的使用的哪种数据类型datatype
            $.ajax({
                url: '/publish',
                type: 'post',
                dataType: 'json',
                data: {
                    //监听的内容有哪些,你的登陆界面上用户输入的有哪些，就监听那些
                    title: $('input[name="title"]').val(),
                    code: $('input[name="code"]').val(),
                    tag: $('select[name="class"]').val(),
                    content: $('textarea[name="content"]').val(),
                    experience: $('select[name="experience"]').val()
                },
                success: function (res) {
                    if (res.code == 200) {
                        layer.msg("发布成功", {icon: 1, time: 1000, shade: 0.4});
                        setTimeout(function () {
                            //如果输入成功，可以跳到另一个你需要的界面
                            location.href = "/";
                        }, 1200);
                    } else {
                        layer.msg(res.message, {icon: 2, time: 800, shade: 0.4});
                    }
                }
                /*   error: function () {
                       //用户输入与接口内容不对应，显示文字
                       layer.msg("发布出了一些问题", {icon: 7, time: 1000, shade: 0.4});
                       setTimeout(function () {
                           //如果输入成功，可以跳到另一个你需要的界面
                           location.reload();
                       }, 1000);
                   },*/
                /*         complete: function () {
                             //关掉loading
                             layer.closeAll();
                         }*/
            });
            //不会跳转到网址栏，只会跳转到你要的界面 一定要写。
            return false;
        });
    });
</script>

</body>
</html>
