<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <title>问题详情</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="fly,layui,前端社区">
    <meta name="description"
          content="Fly社区是模块化前端UI框架Layui的官网社区，致力于为web开发提供强劲动力">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/css/global.css">
    <script src="/layui/layui.js"></script>
    <script src="/js/editormd.min.js" type="application/javascript"></script>
    <script src="/js/moment.js" type="application/javascript"></script>
    <script src="/js/lib/marked.min.js"></script>
    <script src="/js/community.js" type="application/javascript"></script>
    <script src="/js/lib/prettify.min.js"></script>
    <style type="text/css" rel="stylesheet">
        form {
            margin: 0;
        }

        .editor {
            margin-top: 5px;
            margin-bottom: 5px;
        }
    </style>

</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<script>


    function topQuestion(e) {
        layui.use(['jquery', 'form', 'layer'], function () {
            var $ = layui.jquery;
            var form = layui.form();//表单验证
            var layer = layui.layer;
        });
        var questionId = e.getAttribute("data-questionId");
        $.ajax({
            type: "POST",
            url: "/topQuestion",
            dataType: "json",
            data: {
                "questionId": questionId
            },
            success: function (response) {
                if (response.code == 200) {
                    layer.msg(response.message, {icon: 1, time: 1000, shade: 0.4});
                    //如果输入成功，可以跳到另一个你需要的界面
                    setTimeout(function () {
                        //如果输入成功，可以跳到另一个你需要的界面
                        location.reload();
                    }, 1200);
                } else {
                    layer.msg(response.message, {icon: 2, time: 1000, shade: 0.4});

                }
            }

        });

    }


    function collectQuestion(e) {
        layui.use(['jquery', 'form', 'layer'], function () {
            var $ = layui.jquery;
            var form = layui.form();//表单验证
            var layer = layui.layer;
        });
        var questionId = e.getAttribute("data-questionId");
        $.ajax({
            type: "POST",
            url: "/collectQuestion",
            dataType: "json",
            data: {
                "questionId": questionId
            },
            success: function (response) {
                if (response.code == 200) {
                    layer.msg(response.message, {icon: 1, time: 1000, shade: 0.4});
                    //如果输入成功，可以跳到另一个你需要的界面
                    setTimeout(function () {
                        //如果输入成功，可以跳到另一个你需要的界面
                        location.reload();
                    }, 1200);
                } else {
                    layer.msg(response.message, {icon: 2, time: 1000, shade: 0.4});

                }
            }

        });

    }

    function unCollectQuestion(e) {
        layui.use(['jquery', 'form', 'layer'], function () {
            var $ = layui.jquery;
            var form = layui.form();//表单验证
            var layer = layui.layer;
        });
        var questionId = e.getAttribute("data-questionId");
        $.ajax({
            type: "POST",
            url: "/unCollectQuestion",
            dataType: "json",
            data: {
                "questionId": questionId
            },
            success: function (response) {
                if (response.code == 200) {
                    layer.msg(response.message, {icon: 1, time: 1000, shade: 0.4});
                    //如果输入成功，可以跳到另一个你需要的界面
                    setTimeout(function () {
                        //如果输入成功，可以跳到另一个你需要的界面
                        location.reload();
                    }, 1200);
                } else {
                    layer.msg(response.message, {icon: 2, time: 1000, shade: 0.4});

                }
            }

        });

    }

    function userThisComment(e) {
        layui.use(['jquery', 'form', 'layer'], function () {
            var $ = layui.jquery;
            var form = layui.form();//表单验证
            var layer = layui.layer;
        });
        var questionId = e.getAttribute("data-questionId");
        var commentId = e.getAttribute("data-commentId");
        $.ajax({
            type: "POST",
            url: "/userThisComment",
            dataType: "json",
            data: {
                "questionId": questionId,
                "commentId": commentId
            },
            success: function (response) {
                if (response.code == 200) {
                    layer.msg(response.message, {icon: 1, time: 1000, shade: 0.4});
                    //如果输入成功，可以跳到另一个你需要的界面
                    setTimeout(function () {
                        //如果输入成功，可以跳到另一个你需要的界面
                        location.reload();
                    }, 1200);
                } else {
                    layer.msg(response.message, {icon: 2, time: 1000, shade: 0.4});
                }
            }

        });

    }

    function lovethisComment(e) {
        layui.use(['jquery', 'form', 'layer'], function () {
            var $ = layui.jquery;
            var form = layui.form();//表单验证
            var layer = layui.layer;
        });
        var commentId = e.getAttribute("data_commentId");
        var replyId = e.getAttribute("data_replyId");
        $.ajax({
            type: "POST",
            url: "/lovethisComment",
            dataType: "json",
            data: {
                commentId: commentId,
                replyId: replyId
            },
            success: function (response) {
                if (response.code == 200) {
                    layer.msg(response.message, {icon: 1, time: 1000, shade: 0.4});
                    //如果输入成功，可以跳到另一个你需要的界面
                    setTimeout(function () {
                        //如果输入成功，可以跳到另一个你需要的界面
                        location.reload();
                    }, 1200);
                } else {
                    layer.msg(response.message, {icon: 2, time: 1000, shade: 0.4});

                }
            }

        });

    }


    function untopQuestion(e) {
        layui.use(['jquery', 'form', 'layer'], function () {
            var $ = layui.jquery;
            var form = layui.form();//表单验证
            var layer = layui.layer;
        });
        var questionId = e.getAttribute("data-questionId");
        $.ajax({
            type: "POST",
            url: "/untopQuestion",
            dataType: "json",
            data: {
                "questionId": questionId
            },
            success: function (response) {
                if (response.code == 200) {
                    layer.msg(response.message, {icon: 1, time: 1000, shade: 0.4});
                    //如果输入成功，可以跳到另一个你需要的界面
                    setTimeout(function () {
                        //如果输入成功，可以跳到另一个你需要的界面
                        location.reload();
                    }, 1200);
                } else {
                    layer.msg(response.message, {icon: 2, time: 1000, shade: 0.4});

                }
            }

        });
    }

    function deleteQustion(e) {
        layui.use(['jquery', 'form', 'layer'], function () {
            var $ = layui.jquery;
            var form = layui.form();//表单验证
            var layer = layui.layer;
        });
        var questionId = e.getAttribute("data-questionId");
        $.ajax({
            type: "POST",
            url: "/deleteQustion",
            dataType: "json",
            data: {
                "questionId": questionId
            },
            success: function (response) {
                if (response.code == 200) {
                    layer.msg(response.message, {icon: 1, time: 1000, shade: 0.4});
                    //如果输入成功，可以跳到另一个你需要的界面
                    setTimeout(function () {
                        //如果输入成功，可以跳到另一个你需要的界面
                        location.reload();
                    }, 1200);
                } else {
                    layer.msg(response.message, {icon: 2, time: 1000, shade: 0.4});
                }
            }
        });
    }


</script>

<div class="main layui-clear">
    <div class="wrap">
        <div class="content detail">
            <div class="fly-panel detail-box">
                <h1>帖子标题</h1>
                <div class="fly-tip fly-detail-hint" data-id="" style="height: 24px;">
                    <span class="fly-tip-stick" th:if="${statusList['topStatus'] eq 1}">置顶帖</span>
                    <span th:if="${statusList['questionStaus']    eq 0}">未结贴</span>
                    <span class="fly-tip-jie" th:if="${statusList['questionStaus']  eq 1}">已采纳</span>

                    <span class="jie-admin" onclick="topQuestion(this)" th:data-questionId="${question.getQuestionId()}"
                          th:if="${statusList['setTopStatus']   eq 0}">
                            <a href="">点击置顶</a>
                     </span>

                    <span class="layui-btn layui-btn-mini jie-admin" onclick="untopQuestion(this)"
                          th:data-questionId="${question.getQuestionId()}" th:if="${statusList['setTopStatus']   eq 1}">
                            <a href="">取消置顶</a>
                        </span>

                    <span class="jie-admin" type="del" style="margin-left: 20px;"
                          th:if="${statusList['deleteQuestionStatus']   eq 0}">
							<a onclick="deleteQustion(this)" th:data-questionId="${question.getQuestionId()}">删除该帖</a>
                    </span>

                    <span class="fly-tip-jie" th:if="${statusList['reportStatus']   eq 0}">已举报</span>

                    <span class="fly-tip-jie" th:if="${statusList['reportStatus']   eq 1}">
                        <a onclick="openWindow(this)"
                           th:data-questionId="${question.getQuestionId()}"
                           th:data-questionUserId="${question.getQuestionCreator()}"

                        >举报</a>
					</span>

                    <script>
                        function openWindow(e) {
                            var questionId = e.getAttribute("data-questionId");
                            var questionUserId = e.getAttribute("data-questionUserId");

                            layui.use(['jquery', 'form', 'layer'], function () {

                                var $ = layui.jquery;
                                var layer = layui.layer;
                                layer.open({
                                    id: 1,
                                    type: 1,
                                    title: '举报帖子',
                                    area: ['800px', '500px'],
                                    skin: 'layui-layer-rim',
                                    content:
                                        ' <form class="layui-form" action="">'
                                        + '  <div class="layui-form-item" style="margin-right: 50px">'
                                        + '    <label class="layui-form-label">举报标题</label>'
                                        + '    <div class="layui-input-block">'
                                        + '      <input type="text" id="reportTile"  name="reportTile" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">'
                                        + '    </div>'
                                        + '  </div>'
                                        + '  <div class="layui-form-item layui-form-text" style="margin-right: 40px">'
                                        + '    <label class="layui-form-label">文本域</label>'
                                        + '    <div class="layui-input-block">'
                                        + '      <textarea name="reportReason" id="reportReason" placeholder="请输入内容" class="layui-textarea"></textarea>'
                                        + '    </div>'
                                        + '  </div>'
                                        + '</form>'
                                    ,
                                    btn: ['提交', '取消'],
                                    btn1: function (index, layero) {
                                        $.ajax({
                                            url: "/report",
                                            type: 'post',
                                            dataType: 'json',
                                            data: {
                                                "questionId": questionId,
                                                "questionUserId": questionUserId,
                                                "reportTile": $("input[name='reportTile']").val(),
                                                "reportReason": $("textarea[name='reportReason']").val()
                                            },
                                            success: function (response) {

                                                if (response.code == 200) {
                                                    location.reload();
                                                } else {
                                                    location.reload();
                                                }

                                            }

                                        });
                                    },
                                    btn2: function (index, layero) {
                                        layer.close(index);
                                    },
                                    end: function () {
                                        location.reload();
                                    }

                                });
                            });
                        }
                    </script>

                    <div class="fly-list-hint">
                        <i class="iconfont" title="回答">&#xe60c;</i> <span
                            th:text="${question.getQuestionCommentcount()}"></span>
                        <i class="iconfont" title="人气">&#xe60b;</i> <span
                            th:text="${question.getQuestionViewcount()}"></span>
                    </div>

                </div>

                <div class="detail-about">
                    <a class="jie-user" th:href="@{'/user/'+${question.user.getUserId()}}">
                        <img th:src="${question.user.userAvatarurl}" alt="头像">
                        <cite th:text="${question.user.getUserName()+#dates.format(question.questionGmtcreate,'yyyy-MM-dd HH:mm:ss')+'发布'}">
                            <em><span></span> </em>
                        </cite>
                    </a>

                    <div class="detail-hits">

                        <span style="color:#FF7200" th:text="${'悬赏：'+question.getQuestionExpend()+'飞吻'}"></span>

                        <span class="layui-btn layui-btn-mini jie-admin" th:if="${statusList['editStatus']   eq 0}">
                            <a th:href="@{'/publish/'+${question.getQuestionId()}}">编辑此贴</a>
						</span>

                        <span class="layui-btn layui-btn-mini jie-admin" th:if="${statusList['editStatus']   eq 1}">
                            <a href="#">已完帖，无法编辑</a>
                        </span>

                        <span class="layui-btn layui-btn-mini jie-admin" type="collect" data-type="add"
                              onclick="collectQuestion(this)" th:data-questionId="${question.getQuestionId()}"
                              th:if="${statusList['collectStatus']   eq 0}">
                            <a id="collectPost">收藏</a>
                        </span>

                        <span class="layui-btn layui-btn-mini jie-admin layui-btn-danger" type="collect" data-type="add"

                              onclick="unCollectQuestion(this)" th:data-questionId="${question.getQuestionId()}"
                              th:if="${statusList['collectStatus']   eq 1}">
                            <a>取消收藏</a>
                        </span>

                        <span class="layui-btn layui-btn-mini jie-admin  layui-btn-normal" data-type="add"
                              th:if="${statusList['replyStatus'] eq 0}">
                                 <a onclick="replylou(this)" th:data-creatorName="${question.user.getUserName()}"
                                    -creatorId="${question.user.getUserId()}">回复楼主</a>
                            <script>
                                function replylou(e) {
                                    var creatorName = e.getAttribute("data-creatorName");
                                    var creatorId = e.getAttribute("data-creatorId");
                                    $("input[name='type_id']").val("1");
                                    document.getElementById("replyFrom").scrollIntoView();
                                    $("#toName").html("@ " + creatorName + "(楼主)");
                                    return true;
                                }

                                function reply(e) {
                                    var commentUserName = e.getAttribute("data-commentUserName");
                                    var commentId = e.getAttribute("data-commentId");
                                    $("input[name='comment_id']").val(commentId);
                                    $("input[name='type_id']").val("2");
                                    document.getElementById("replyFrom").scrollIntoView();
                                    $("#toName").html("@ " + commentUserName);
                                    return true;
                                }
                            </script>

                        </span>

                    </div>

                </div>

                <div class="detail-body photos" style="margin-bottom: 20px;">

                    <!--内容-->
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="question-view">
                        <textarea style="display:none;" th:text="${question.getQuestionDescription()}"></textarea>
                    </div>

                    <script type="text/javascript">
                        $(function () {
                            editormd.markdownToHTML("question-view", {});
                        });
                    </script>

                </div>
            </div>

            <div class="fly-panel detail-box" style="padding-top: 0;">
                <a name="comment"></a>

                <ul class="jieda photos" id="jieda">


                    <li class="jieda-daan" th:each="comment:${comments} ">
                        <a name="item-121212121212"></a>
                        <div class="detail-about detail-about-reply">
                            <a class="jie-user" th:href="@{'/user/'+${comment.user.getUserId()}}">
                                <img th:src="${comment.user.userAvatarurl}" alt="">
                                <cite> <i><span th:if="${question.questionCreator ne comment.getCommentCommentator()}"
                                                th:text="${comment.getUser().getUserName()}">

                                   </span></i>
                                    <em><span
                                            th:if="${question.getUser().getUserId() eq comment.getCommentCommentator()}"
                                            th:text="${comment.getUser().getUserName()+'（楼主）'}">
                                   </span>
                                    </em>

                                </cite>
                            </a>

                            <div class="detail-hits">
                                <span th:text="${#dates.format(comment.getCommentGmtcreate(),'yyyy-MM-dd HH:mm:ss')}"></span>
                            </div>

                            <i class="iconfont icon-caina" th:if="${comment.getCommentStatus() eq 1}" title="最佳答案"></i>

                        </div>

                        <div class="detail-body jieda-body">
                            <p th:text="${comment.getCommentContent()}"></p>
                        </div>

                        <div class="jieda-reply">

                            <div th:each="like,size:${comment.likes}">
                                <span class="jieda-zan " type="zan"
                                      th:if="${like.getLikeReplyid() eq session.user.getUserId()}">
                                    已点赞
								</span>
                            </div>
                            <span class="jieda-zan zanok " type="zan"
                                  onclick="lovethisComment(this)"
                                  th:data_commentId="${comment.getCommentId()}"
                                  th:data_replyId="${session.user.userId}"
                            >
                                    <i class="iconfont icon-zan"></i>
                                    <em> [(${comment.likes.size()})]</em>
								</span>


                            <span type="reply" th:data-commentId="${comment.getCommentId()}"
                                  th:data-commentUserName="${comment.getUser().getUserName()}" onclick="reply(this)">
                                <i class="iconfont icon-svgmoban53"></i>
                                回复
                            </span>


                            <div class="jieda-admin" th:if="${statusList['editStatus']   eq 0}">
                                <span type="del"><a href="#"
                                                    class="layui-btn layui-btn-danger layui-btn-small">删除</a></span>
                                <span class="jieda-accept" type="accept">
									<a onclick="userThisComment(this)" class="layui-btn  layui-btn-small"
                                       th:data-commentId="${comment.getCommentId()}"
                                       th:data-questionId="${question.getQuestionId()}"
                                       th:if="${question.getQuestionCreator() ne comment.getCommentCommentator()}">采纳</a></span>
                            </div>

                        </div>
                    </li>


                    <!-- <li class="fly-none">没有任何回答</li> -->
                </ul>


                <span id="toName" name="toName"></span>

                <div class="layui-form layui-form-pane" id="replyFrom">
                    <form action="">

                        <div class="layui-form-item layui-form-text">
                            <div class="layui-input-block">

                                <div id="editor">
										<textarea id="comment_content" name="comment_content" required
                                                  lay-verify="required" placeholder="我要回答"
                                                  class="layui-textarea " style="height: 250px;"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <input type="hidden" readonly="readonly" id="type_id" name="type_id">
                            <input type="hidden" readonly="readonly" id="question_id" th:value="${question.getQuestionId()}">
                            <input type="hidden" readonly="readonly" id="comment_id" name="comment_id">
                            <input class="layui-btn" onclick="post()" value="提交回答"/>
                        </div>
                    </form>
                </div>


            </div>
        </div>
    </div>


    <div class="edge">
        <dl class="fly-panel fly-list-one">
            <dt class="fly-panel-title" th:if="${hotQuestions} ne null">最近热帖</dt>

            <dd th:each="hotQuestion: ${hotQuestions}">
                <a th:href="@{'/question/'+${hotQuestion.questionId}}" th:text="${hotQuestion.questionTitle}"></a>
                <i class="iconfont">&#xe60b;</i><span th:text="${hotQuestion.getQuestionViewcount()}"></span>
            </dd>
        </dl>

        <dl class="fly-panel fly-list-one">
            <dt class="fly-panel-title" th:if="${relatedQuestions} ne null">相关问题</dt>
            <dd th:each="relatedQuestion: ${relatedQuestions}">
                <a th:href="@{'/question/'+${relatedQuestion.questionId}}"
                   th:text="${relatedQuestion.questionTitle}"></a>
                <i class="iconfont">&#xe60b;</i><span th:text="${relatedQuestion.getQuestionViewcount()}"></span>
            </dd>
        </dl>
    </div>
</div>
<div th:insert="~{footer :: nav}"></div>


</body>
</html>
