<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <title>举报审核</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="fly,layui,前端社区">
    <meta name="description" content="Fly社区是模块化前端UI框架Layui的官网社区，致力于为web开发提供强劲动力">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/css/global.css">
    <script src="/layui/layui.js"></script>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>


<div class="main fly-user-main layui-clear">
    <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="user">
        <li class="layui-nav-item"><a th:href="@{'/user/'+${session.user.getUserId()}}"> <i
                class="layui-icon">&#xe609;</i> 我的主页 </a></li>
        <li class="layui-nav-item "><a href="/profile/myCenter"> <i
                class="layui-icon">&#xe612;</i> 用户中心 </a></li>
        <li class="layui-nav-item "><a href="/profile/mySet"> <i
                class="layui-icon">&#xe620;</i> 基本设置 </a></li>
        <li class="layui-nav-item"><a href="/profile/myMessage"> <i
                class="layui-icon">&#xe611;</i> 我的消息 </a></li>
        <li class="layui-nav-item  "><a href="/profile/myRecharge"> <i
                class="layui-icon">&#xe61a;</i> 账户充值/会员 </a></li>
        <li class="layui-nav-item layui-this"th:if="${session.userDTO.getRole().getRoleId() eq 3}"><a href="/profile/report"> <i
                class="layui-icon">&#xe61a;</i> 审核举报 </a></li>
    </ul>


    <div class="site-tree-mobile layui-hide">
        <i class="layui-icon">&#xe602;</i>
    </div>
    <div class="site-mobile-shade"></div>

    <div class="fly-panel fly-panel-user" pad20>
        <div class="layui-tab layui-tab-brief" lay-filter="user">
            <h2>审核举报</h2>

            <div class="layui-form-item">
                <label class="layui-form-label">帖子标题</label>
                <div class="layui-input-inline">
                    <input type="text" readonly="readonly" value="帖子标题"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">帖子内容</label>
                <div class="layui-input-inline">
                    <textarea rows="5" readonly="readonly" cols="50">帖子内容</textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">举报标题</label>
                <div class="layui-input-inline">
                    <input type="text" readonly="readonly" value="这个帖子可以"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">举报理由</label>
                <div class="layui-input-inline">
                    <textarea rows="5" readonly="readonly" cols="50">但是我要举报</textarea>
                </div>
            </div>

            <div class="layui-form-item">
                <label>举报人:
                    压缩
                </label><br/>
                <label>被举报人:劫</label>
            </div>
            <form action="">
                <div class="layui-form layui-form-pane">
                    <input type="radio" checked="checked" title="不惩罚被举报人">
                    <input type="radio" title="惩罚被举报人不删除帖子">
                    <input type="radio" title="惩罚被举报人并删除该异常帖">
                </div>
                <div class="layui-form layui-form-pane">
                    <input class="layui-btn" type="submit" value="审核"/>
                    <a class="layui-btn">返回上一页</a>
                </div>
            </form>
            <!--
                <div class="fly-none" style="min-height: 50px; padding:30px 0; height:auto;"><span>该帖已被删除</span></div>
                <a class="layui-btn" >返回上一页</a>
             -->

        </div>
    </div>
</div>
<div th:insert="~{footer :: nav}"></div>

<script>
    layui.use('element', function () {
        var element = layui.element();
    });
</script>

</body>
</html>
