<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>用户对外主页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="fly,layui,前端社区">
    <meta name="description" content="Fly社区是模块化前端UI框架Layui的官网社区，致力于为web开发提供强劲动力">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/css/global.css">
    <script src="/layui/layui.js"></script>
</head>
<body style="margin-top: 65px;">

<div th:insert="~{navigation :: nav}"></div>
<!--style="background-image: url();"-->
<div class="fly-home">
    <img src="/images/avatar/11.jpg" alt="{{info.username}}">
    <h1>
        贤心
        <i class="iconfont icon-nan"></i>
        <!-- <i class="iconfont icon-nv"></i> -->

    </h1>
    <p class="fly-home-info">
        <i class="iconfont icon-zuichun" title="飞吻"></i><span style="color: #FF7200;">67206飞吻</span>
        <i class="iconfont icon-shijian"></i><span>2015-06-17 加入</span>
        <i class="iconfont icon-chengshi"></i><span>来自杭州</span>
    </p>
    <p class="fly-home-sign">（人生仿若一场修行）</p>
</div>

<div class="main fly-home-main">
    <div class="layui-inline fly-home-jie">
        <div class="fly-panel">
            <h3 class="fly-panel-title">贤心 最近的提问</h3>
            <ul class="jie-row">
                <li>
                    <a href="../post/detail.html" class="jie-title">使用 layui 秒搭后台大布局（基本结构）</a>
                    <i>1天前</i>
                    <em>1136阅/27答</em>
                </li>
                <li>
                    <a href="../post/detail.html" class="jie-title">使用 layui 秒搭后台大布局（基本结构）</a>
                    <i>1天前</i>
                    <em>1136阅/27答</em>
                </li>
                <li>
                    <a href="../post/detail.html" class="jie-title">使用 layui 秒搭后台大布局（基本结构）</a>
                    <i>1天前</i>
                    <em>1136阅/27答</em>
                </li>
                <li>
                    <a href="../post/detail.html" class="jie-title">使用 layui 秒搭后台大布局（基本结构）</a>
                    <i>1天前</i>
                    <em>1136阅/27答</em>
                </li>
                <li>
                    <a href="../post/detail.html" class="jie-title">使用 layui 秒搭后台大布局（基本结构）</a>
                    <i>1天前</i>
                    <em>1136阅/27答</em>
                </li>
                <li>
                    <a href="../post/detail.html" class="jie-title">使用 layui 秒搭后台大布局（基本结构）</a>
                    <i>1天前</i>
                    <em>1136阅/27答</em>
                </li>
                <li>
                    <a href="../post/detail.html" class="jie-title">使用 layui 秒搭后台大布局（基本结构）</a>
                    <i>1天前</i>
                    <em>1136阅/27答</em>
                </li>
            </ul>
            <!-- <div class="fly-none" style="min-height: 50px; padding:30px 0; height:auto;"><i style="font-size:14px;">没有发表任何求解</i></div> -->
        </div>
    </div>

    <div class="layui-inline fly-home-da">
        <div class="fly-panel">
            <h3 class="fly-panel-title">贤心 最近的回答</h3>
            <ul class="home-jieda">
                <li>
                    <p>
                        <span>1分钟前</span>
                        在<a href="" target="_blank">tips能同时渲染多个吗?</a>中回答：
                    </p>
                    <div class="home-dacontent">
                        尝试给layer.photos加上这个属性试试：
                        <pre>
full: true         
</pre>
                        文档没有提及
                    </div>
                </li>
                <li>
                    <p>
                        <span>5分钟前</span>
                        在<a href="" target="_blank">在Fly社区用的是什么系统啊?</a>中回答：
                    </p>
                    <div class="home-dacontent">
                        Fly社区采用的是NodeJS。分享出来的只是前端模版
                    </div>
                </li>
            </ul>
            <!-- <div class="fly-none" style="min-height: 50px; padding:30px 0; height:auto;"><span>没有回答任何问题</span></div> -->
        </div>
    </div>

</div>


<div th:insert="~{footer :: nav}"></div>
<script>
    layui.use('element', function () {
        var element = layui.element();
    });
</script>
</body>
</html>
