<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="njwb.lcqjoyce.bbs.mapper.AuditMapper">
  <resultMap id="BaseResultMap" type="njwb.lcqjoyce.bbs.entity.Audit">
    <!--@mbg.generated-->
    <!--@Table `audit`-->
    <id column="audit_id" jdbcType="BIGINT" property="auditId" />
    <result column="audit_reportUserId" jdbcType="BIGINT" property="auditReportuserid" />
    <result column="audit_postId" jdbcType="BIGINT" property="auditPostid" />
    <result column="audit_postUserId" jdbcType="BIGINT" property="auditPostuserid" />
    <result column="audit_result" jdbcType="VARCHAR" property="auditResult" />
    <result column="audit_gmtCreatetime" jdbcType="BIGINT" property="auditGmtcreatetime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    audit_id, audit_reportUserId, audit_postId, audit_postUserId, audit_result, audit_gmtCreatetime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from `audit`
    where audit_id = #{auditId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from `audit`
    where audit_id = #{auditId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="audit_id" keyProperty="auditId" parameterType="njwb.lcqjoyce.bbs.entity.Audit" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into `audit` (audit_reportUserId, audit_postId, audit_postUserId, 
      audit_result, audit_gmtCreatetime)
    values (#{auditReportuserid,jdbcType=BIGINT}, #{auditPostid,jdbcType=BIGINT}, #{auditPostuserid,jdbcType=BIGINT}, 
      #{auditResult,jdbcType=VARCHAR}, #{auditGmtcreatetime,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" keyColumn="audit_id" keyProperty="auditId" parameterType="njwb.lcqjoyce.bbs.entity.Audit" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into `audit`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="auditReportuserid != null">
        audit_reportUserId,
      </if>
      <if test="auditPostid != null">
        audit_postId,
      </if>
      <if test="auditPostuserid != null">
        audit_postUserId,
      </if>
      <if test="auditResult != null">
        audit_result,
      </if>
      <if test="auditGmtcreatetime != null">
        audit_gmtCreatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="auditReportuserid != null">
        #{auditReportuserid,jdbcType=BIGINT},
      </if>
      <if test="auditPostid != null">
        #{auditPostid,jdbcType=BIGINT},
      </if>
      <if test="auditPostuserid != null">
        #{auditPostuserid,jdbcType=BIGINT},
      </if>
      <if test="auditResult != null">
        #{auditResult,jdbcType=VARCHAR},
      </if>
      <if test="auditGmtcreatetime != null">
        #{auditGmtcreatetime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="njwb.lcqjoyce.bbs.entity.Audit">
    <!--@mbg.generated-->
    update `audit`
    <set>
      <if test="auditReportuserid != null">
        audit_reportUserId = #{auditReportuserid,jdbcType=BIGINT},
      </if>
      <if test="auditPostid != null">
        audit_postId = #{auditPostid,jdbcType=BIGINT},
      </if>
      <if test="auditPostuserid != null">
        audit_postUserId = #{auditPostuserid,jdbcType=BIGINT},
      </if>
      <if test="auditResult != null">
        audit_result = #{auditResult,jdbcType=VARCHAR},
      </if>
      <if test="auditGmtcreatetime != null">
        audit_gmtCreatetime = #{auditGmtcreatetime,jdbcType=BIGINT},
      </if>
    </set>
    where audit_id = #{auditId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="njwb.lcqjoyce.bbs.entity.Audit">
    <!--@mbg.generated-->
    update `audit`
    set audit_reportUserId = #{auditReportuserid,jdbcType=BIGINT},
      audit_postId = #{auditPostid,jdbcType=BIGINT},
      audit_postUserId = #{auditPostuserid,jdbcType=BIGINT},
      audit_result = #{auditResult,jdbcType=VARCHAR},
      audit_gmtCreatetime = #{auditGmtcreatetime,jdbcType=BIGINT}
    where audit_id = #{auditId,jdbcType=BIGINT}
  </update>

<!--auto generated by MybatisCodeHelper on 2020-05-07-->
  <select id="selectOneByAuditReportuseridAndAuditPostuseridAndAuditPostid" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `audit`
        where audit_reportUserId=#{auditReportuserid,jdbcType=BIGINT} and
        audit_postUserId=#{auditPostuserid,jdbcType=BIGINT} and audit_postId=#{auditPostid,jdbcType=BIGINT}
    </select>
</mapper>