<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="njwb.lcqjoyce.bbs.mapper.ViolationMapper">
  <resultMap id="BaseResultMap" type="njwb.lcqjoyce.bbs.entity.Violation">
    <!--@mbg.generated-->
    <!--@Table violation-->
    <id column="violation_id" jdbcType="BIGINT" property="violationId" />
    <result column="violation_userId" jdbcType="BIGINT" property="violationUserid" />
    <result column="violation_time" jdbcType="INTEGER" property="violationTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    violation_id, violation_userId, violation_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from violation
    where violation_userId = #{violationId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from violation
    where violation_id = #{violationId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="violation_id" keyProperty="violationId" parameterType="njwb.lcqjoyce.bbs.entity.Violation" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into violation (violation_userId, violation_time)
    values (#{violationUserid,jdbcType=BIGINT}, #{violationTime,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="violation_id" keyProperty="violationId" parameterType="njwb.lcqjoyce.bbs.entity.Violation" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into violation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="violationUserid != null">
        violation_userId,
      </if>
      <if test="violationTime != null">
        violation_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="violationUserid != null">
        #{violationUserid,jdbcType=BIGINT},
      </if>
      <if test="violationTime != null">
        #{violationTime,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="njwb.lcqjoyce.bbs.entity.Violation">
    <!--@mbg.generated-->
    update violation
    <set>
      <if test="violationUserid != null">
        violation_userId = #{violationUserid,jdbcType=BIGINT},
      </if>
      <if test="violationTime != null">
        violation_time = #{violationTime,jdbcType=INTEGER},
      </if>
    </set>
    where violation_id = #{violationId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="njwb.lcqjoyce.bbs.entity.Violation">
    <!--@mbg.generated-->
    update violation
    set violation_userId = #{violationUserid,jdbcType=BIGINT},
      violation_time = #{violationTime,jdbcType=INTEGER}
    where violation_id = #{violationId,jdbcType=BIGINT}
  </update>

<!--auto generated by MybatisCodeHelper on 2020-05-06-->
  <select id="selectOneByViolationUserid" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from violation
        where violation_userId=#{violationUserid,jdbcType=BIGINT}
    </select>
</mapper>