<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="njwb.lcqjoyce.bbs.mapper.VipMapper">
  <resultMap id="BaseResultMap" type="njwb.lcqjoyce.bbs.entity.Vip">
    <!--@mbg.generated-->
    <!--@Table vip-->
    <id column="vip_id" jdbcType="BIGINT" property="vipId" />
    <result column="vip_useId" jdbcType="BIGINT" property="vipUseid" />
    <result column="vip_startTime" jdbcType="BIGINT" property="vipStarttime" />
    <result column="vip_endTime" jdbcType="BIGINT" property="vipEndtime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    vip_id, vip_useId, vip_startTime, vip_endTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from vip
    where vip_id = #{vipId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from vip
    where vip_id = #{vipId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="vip_id" keyProperty="vipId" parameterType="njwb.lcqjoyce.bbs.entity.Vip" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into vip (vip_useId, vip_startTime, vip_endTime
      )
    values (#{vipUseid,jdbcType=BIGINT}, #{vipStarttime,jdbcType=BIGINT}, #{vipEndtime,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" keyColumn="vip_id" keyProperty="vipId" parameterType="njwb.lcqjoyce.bbs.entity.Vip" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into vip
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="vipUseid != null">
        vip_useId,
      </if>
      <if test="vipStarttime != null">
        vip_startTime,
      </if>
      <if test="vipEndtime != null">
        vip_endTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="vipUseid != null">
        #{vipUseid,jdbcType=BIGINT},
      </if>
      <if test="vipStarttime != null">
        #{vipStarttime,jdbcType=BIGINT},
      </if>
      <if test="vipEndtime != null">
        #{vipEndtime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="njwb.lcqjoyce.bbs.entity.Vip">
    <!--@mbg.generated-->
    update vip
    <set>
      <if test="vipUseid != null">
        vip_useId = #{vipUseid,jdbcType=BIGINT},
      </if>
      <if test="vipStarttime != null">
        vip_startTime = #{vipStarttime,jdbcType=BIGINT},
      </if>
      <if test="vipEndtime != null">
        vip_endTime = #{vipEndtime,jdbcType=BIGINT},
      </if>
    </set>
    where vip_id = #{vipId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="njwb.lcqjoyce.bbs.entity.Vip">
    <!--@mbg.generated-->
    update vip
    set vip_useId = #{vipUseid,jdbcType=BIGINT},
      vip_startTime = #{vipStarttime,jdbcType=BIGINT},
      vip_endTime = #{vipEndtime,jdbcType=BIGINT}
    where vip_id = #{vipId,jdbcType=BIGINT}
  </update>

<!--auto generated by MybatisCodeHelper on 2020-05-04-->
  <select id="selectByVipUseid" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from vip
        where vip_useId=#{vipUseid,jdbcType=BIGINT}
    </select>
</mapper>